{# templates/registration/confirmation_email.html.twig #}
<h1>Confirmez votre adresse e-mail !</h1>

<p>
    Bonjour {{ user.prenom ?? 'Utilisateur' }} ! Veuillez confirmer votre adresse e-mail pour votre compte TrottiCare en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon E-mail</a>.
    <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Si vous n'avez pas créé de compte, veuillez ignorer cet e-mail.
</p>

<p>
    Merci ! <br>
    L'équipe TrottiCare
</p>