{% extends 'base.html.twig' %}

{% block title %}Créer un Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un Utilisateur</h1>

    {{ include('admin/utilisateur/_form.html.twig') }}

    <a href="{{ path('admin_utilisateur_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}